<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App Home Page</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="mainContain">
    {{>header}}

    <p>Use this site to get weather data.</p>
    <form action="">
        <input type="text" placeholder="location...">
        <button>Search</button>
    </form>

    <div id="forecastDisplay"></div>

    </div><!--#mainContain-->

    {{>footer}}
    <script src="./js/script.js"></script>
</body>
</html>